APP_NAME=UlPlay
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

# По умолчанию можно оставить SQLite (для MVP БД не обязательна)
DB_CONNECTION=sqlite

# Если включаете MySQL профилем: docker compose --profile db up -d
# DB_CONNECTION=mysql
# DB_HOST=mysql
# DB_PORT=3306
# DB_DATABASE=ulplay
# DB_USERNAME=ulplay
# DB_PASSWORD=password

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
